@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Baloo+Bhaijaan+2&family=Croissant+One&family=Fredoka+One&family=Grenze:wght@100&family=Gulzar&family=Inknut+Antiqua&family=Jacques+Francois+Shadow&family=Katibeh&family=Lobster+Two&family=Londrina+Outline&family=Margarine&family=Metal&family=Noto+Nastaliq+Urdu:wght@400;600&family=Oleo+Script&family=Passions+Conflict&family=Rampart+One&family=Reem+Kufi+Ink&family=Rye&family=Scheherazade+New:wght@400;700&family=Sirin+Stencil&family=Spirax&display=swap');

* {
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: rgb(89, 89, 243);
    font-weight: 700;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(100deg, rgb(251, 201, 287), #69cccc);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: back;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}
.conect-me {
    width: 400px;
    height: 580px;
    background-color:rgb(230, 237, 248);
    padding: 40px 35px 35px 35px;
    border-radius: 30px;
    box-shadow: -4px -3px 5px #8fa2ca,
    3px 6px 5px #a3a2a2;
}
.my-name {
    color:rgb(7, 7, 167);
    font-size: 23px;
    font-family: 'Croissant One', cursive;
    text-align: center;
    margin-top: 18px;
}
.my-id {
    text-align: center;
    font-size: 23px;
    font-family: 'Sirin Stencil', cursive;
    padding-top: 30px;
}
.my-id a {
    color: rgb(89, 89, 243);
    text-decoration: none;
}
.my-skil {
    color :rgb(8, 101, 194);
    text-align: center;
    margin-top: 50px;
    font-size: 19px;
    font-family: 'Rampart One', cursive;
    animation: skil-animation 6s infinite;
}
.fields {
    width: 100%;
    padding: 8px 80px 15px 80px;
    margin-top: 26px;
}
.fields p{
    border: none;
    outline: none;
    text-align: center;
    color: rgb(7, 7, 145);
    background-color:rgb(156, 202, 245);
    font-size: 27px;
    font-family: 'Katibeh', cursive;
    padding: 13px 10px 20px 8px;
    border-radius: 70px;
}
.fields a {
    text-decoration: none;
}
.profile-pic {
    background: url("/Images/B612_20210730_155644_636.jpg");
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(204, 239, 245);
    box-shadow: 0.5px 1px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.pictures {
    position: relative;
}
.logo {
    position: absolute;
    top: 77px;
    left: 112px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: white;
}
.logo i {
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 6px;
}
.button-text:hover {
    background-image: linear-gradient(to bottom left, rgb(227, 158, 236), rgb(131, 224, 241));
}

@keyframes back {
    0%{
        transition-timing-function: linear;
        background-image: repeating-linear-gradient(350deg, rgb(251, 201, 287), #69cccc);
    }
    25%{
        transition-timing-function: linear;
        background-image: repeating-linear-gradient(110deg, rgb(251, 201, 287), #69cccc);
    }  
    50%{
        transition-timing-function: linear;
        background-image: repeating-linear-gradient(170deg, rgb(251, 201, 287), #69cccc);
        background-size: 220%;
    }
    75%{
        transition-timing-function: linear;
        background-image: repeating-linear-gradient(220deg, rgb(251, 201, 287), #69cccc);
        background-size: 100%;
    }
    100%{
        transition-timing-function: linear;
        background-image: repeating-linear-gradient(300deg, rgb(251, 201, 287), #69cccc);
        background-size: 180%;
    }
}
@keyframes skil-animation {
    0%{
        /* transform: translateX(-10%); */
        transform: skew(20deg, 0.2deg);
        /* transform: scale(1); */
    }
    50% {
        /* transform: translateX(10%); */
        transform: skew(-25deg, 1deg);
        /* transform: scale(1.1); */
    
    }
    100% {
        /* transform: translateX(-10%); */
        transform: skew(20deg, 0.2deg);
        /* transform: scale(1); */
    }
}

